{% extends "base.html" %} {% block content %}
<style>
    .mybtn-add {
        color: #5b8c85;
        border-color: #5b8c85;
    }
    
    .mybtn-add:hover {
        border-color: #5b8c85;
        background-color: #5b8c85;
    }
</style>
<div class="container mb-5">
    <h1>Make New Type</h1>
    <a href="{% url 'alltype' %}" class="btn btn-outline-info mt-3">Type List</a>
    <hr>
    <form class="mt-5" method="POST" action="{% url 'add_type' %}">
        {% csrf_token %}
        <div class="form-group">
            <label>Type Name:</label>
            <input type="text" class="form-control" id="typename" name="typename">
        </div>

        <div class="form-group">
            <label>Type Description:</label>
            <textarea class="form-control" id="typedes" name="typedes" rows="3"></textarea>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-secondary mybtn-add">add</button>
        </div>
    </form>
    
    
</div>

{% endblock %}